@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rubik:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(241, 74, 74) 50%, rgb(53, 160, 231) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  
  /*
  
  video cards 
  
  */
  
  main {
    max-width: 1200px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
  }
  
  h2 {
    margin-top: 10;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .video-card {
    width: 580px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .video-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .video-card p {
    margin-top: 10px;
  }
  