---
title: 'About Us'
layout: 'layouts/base.njk'
---

{% include 'partials/_header.html' %}

        <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
            <div class="flex flex-col lg:flex-row justify-between gap-8">
                <div class="w-full lg:w-5/12 flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">About Us</h1>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">Graduationg Project Team formed in Istanbul Kültür University led by our Advisor DOKTOR ÖĞRETİM ÜYESİ
WISAM   ELMASRY</p>
                </div>
                <div class="w-full lg:w-8/12">
                    <img class="w-full h-full rounded-md" src="https://www.iku.edu.tr/sites/default/files/inline-images/%C4%B0stanbul%20K%C3%BClt%C3%BCr%20%C3%9Cniversitesi.jpg" alt="A group of People" />
                </div>
            </div>
    
            <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
                <div class="w-full lg:w-5/12 flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">Our Goal</h1>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">To implement deep learning in sign language interpetation through a game to help bridge the communication gap between hearing and deaf communities. By leveraging ready deep learning models and datasets with our own trained RNN and fun game mechanics, we hope to make the process of learning ASL easier and more exciting for people.</p>
                </div>
                <div class="w-full lg:w-8/12 lg:pt-8">
                    <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <img class="md:block hidden rounded-md" src="https://i.ibb.co/NSpZJVK/e2a26e6f-7501-4489-a242-c65134f79276.jpg" alt="Osama Atia" />
                            <img class="md:hidden block rounded-md" src="https://i.ibb.co/NSpZJVK/e2a26e6f-7501-4489-a242-c65134f79276.jpg" alt="Osama Atia" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Osama Atia</p>
                        </div>

                        <a href="https://github.com/pedromourente">
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <img class="md:block hidden rounded-md" src="https://pps.whatsapp.net/v/t61.24694-24/297205448_169571518902666_6604366632643465873_n.jpg?ccb=11-4&oh=01_AdS8oGGhCqIHOIBgfl8xS7TgwP7J4jtBoIkuwB9-yJN_Hg&oe=647CB541" alt="Hussam Asskar" />
                            <img class="md:hidden block rounded-md" src="https://pps.whatsapp.net/v/t61.24694-24/297205448_169571518902666_6604366632643465873_n.jpg?ccb=11-4&oh=01_AdS8oGGhCqIHOIBgfl8xS7TgwP7J4jtBoIkuwB9-yJN_Hg&oe=647CB541" alt="Hussam Asskar" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Hussam Asskar</p>
                        </div>
                        </a>
                        
                        <div class="p-4 pb-6 flex justify-center flex-col items-center ">
                            <img class="md:block hidden rounded-md" src="https://i.ibb.co/Trj4vjj/b962c715-b4dc-4bf4-951e-8c8ec13cf1c0.jpg" alt="Oussame El Karchy" />
                            <img class="md:hidden block rounded-md" src="https://i.ibb.co/Trj4vjj/b962c715-b4dc-4bf4-951e-8c8ec13cf1c0.jpg" alt="Oussame El Karchy" />
                            
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Oussame ElKarchy </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    {% include 'partials/_footer.html' %}
