---
title: ''
layout: 'layouts/base.njk'
---

{% include 'partials/_header.html' %}

        <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
            <div class="flex flex-col lg:flex-row justify-between gap-8">
                <div class="w-full lg:w-5/12 flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">About Us</h1>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.In the first place we have granted to God, and by this our present charter confirmed for us and our heirs forever that the English Church shall be free, and shall have her rights entire, and her liberties inviolate; and we will that it be thus observed; which is apparent from</p>
                </div>
                <div class="w-full lg:w-8/12">
                    <img class="w-full h-full" src="https://i.ibb.co/FhgPJt8/Rectangle-116.png" alt="A group of People" />
                </div>
            </div>
    
            <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
                <div class="w-full lg:w-5/12 flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">Our Story</h1>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.In the first place we have granted to God, and by this our present charter confirmed for us and our heirs forever that the English Church shall be free, and shall have her rights entire, and her liberties inviolate; and we will that it be thus observed; which is apparent from</p>
                </div>
                <div class="w-full lg:w-8/12 lg:pt-8">
                    <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <img class="md:block hidden" src="https://pps.whatsapp.net/v/t61.24694-24/317735629_966887784341120_2045951337772661367_n.jpg?ccb=11-4&oh=01_AdSEiKqD8-Bv18eR7fa4lvFx5xVdclfdqtSyl4uZbouwMA&oe=6479A09C" alt="Alexa featured Image" />
                            <img class="md:hidden block" src="https://pps.whatsapp.net/v/t61.24694-24/317735629_966887784341120_2045951337772661367_n.jpg?ccb=11-4&oh=01_AdSEiKqD8-Bv18eR7fa4lvFx5xVdclfdqtSyl4uZbouwMA&oe=6479A09C" alt="Alexa featured Image" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Osama Atia</p>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <img class="md:block hidden" src="https://pps.whatsapp.net/v/t61.24694-24/297205448_169571518902666_6604366632643465873_n.jpg?ccb=11-4&oh=01_AdS8oGGhCqIHOIBgfl8xS7TgwP7J4jtBoIkuwB9-yJN_Hg&oe=647CB541" alt="Olivia featured Image" />
                            <img class="md:hidden block" src="https://pps.whatsapp.net/v/t61.24694-24/297205448_169571518902666_6604366632643465873_n.jpg?ccb=11-4&oh=01_AdS8oGGhCqIHOIBgfl8xS7TgwP7J4jtBoIkuwB9-yJN_Hg&oe=647CB541" alt="Olivia featured Image" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Hussam Asskar</p>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <img class="md:block hidden" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/1200px-Unknown_person.jpg" alt="Liam featued Image" />
                            <img class="md:hidden block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/1200px-Unknown_person.jpg" alt="Liam featued Image" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Oussame El Karchy </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    {% include 'partials/_footer.html' %}
