
---
title: 'learnASL'
layout: 'layouts/base.njk'
---

{% include 'partials/_header.html' %}

<main>

  <h2>Alphabetical Learning Videos</h2>


    <div class="video-list">
    <div class="video-card">
        <h3>Video1</h3>
        <p>Learn the American Sign Language alphabet in just 5 minutes.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cGavOVNDj1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="video-card">
        <h3>Video2</h3>
        <p> ASL Lessons For Kids </p>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/a5BD8SjhPSg?controls=0&amp;start=184" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="video-card">
        <h3>Video3</h3>
        <p> Fun ASL Lessons For everyone </p>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/6_gXiBe9y9A?controls=0&amp;start=184" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="video-card">
        <h3>Video4</h3>
        <p>Phonics Song for Children.</p>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zhbC-3Fu77E?controls=0&amp;start=184" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="video-card">
        <h3>Video5</h3>
        <p>Phonics Song for Children part II.</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/WP1blVh1ZQM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="video-card">
        <h3>Video6</h3>
        <p>simultaneous views of ASL letters for clarification.</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/tkMg8g8vVUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

<h2>Numbers Learning Videos</h2>

<div class="video-list">
    <div class="video-card">
        <h3>Video1</h3>
        <p>ASL: Numbers 0-10</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/R0usORpcyWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="video-card">
        <h3>Video2</h3>
        <p>How to Count to 20 in Sign Language | Mama Is Here movie.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cJ6UFIP-Vt0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="video-card">
        <h3>Video3</h3>
        <p>Numbers 0-10 ASL without sound.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YrdLoUMBcpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="video-card">
        <h3>Video4</h3>
        <p>Numbers 0-10 with American Sign Language, For kids.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TjnIQAftEb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>


</main>

{% include 'partials/_footer.html' %}